<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangli.shop.dao.FavoriteMapper">
  <resultMap id="BaseResultMap" type="com.zhangli.shop.pojo.Favorite">
    <id column="favoriteid" jdbcType="INTEGER" property="favoriteid" />
    <result column="goodsid" jdbcType="INTEGER" property="goodsid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
  </resultMap>
  <sql id="Base_Column_List">
    favoriteid, goodsid, userid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from favorite
    where favoriteid = #{favoriteid,jdbcType=INTEGER}
  </select>
  <select id="selectByGoodsid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from favorite
    where goodsid = #{goodsid,jdbcType=INTEGER}
  </select>
  <select id="selectGoodsidByUserid" parameterType="Map" resultType="java.lang.Integer">
    select 
    goodsid
    from favorite
    where userid = #{userid,jdbcType=INTEGER}
    limit #{page.start}, #{page.rows}
  </select>
  <select id="selectGidByUserid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select 
    goodsid
    from favorite
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  <select id="selectAllCountForFavorite" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  	select count(*) 
  	from favorite
  	where userid = #{userid,jdbcType=INTEGER}
  </select>
  <select id="selectFavorite" parameterType="com.zhangli.shop.pojo.Favorite" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from favorite
    where goodsid = #{goodsid,jdbcType=INTEGER}
    and userid = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from favorite
    where favoriteid = #{favoriteid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhangli.shop.pojo.Favorite">
    insert into favorite (favoriteid, goodsid, userid
      )
    values (#{favoriteid,jdbcType=INTEGER}, #{goodsid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhangli.shop.pojo.Favorite">
    insert into favorite
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="favoriteid != null">
        favoriteid,
      </if>
      <if test="goodsid != null">
        goodsid,
      </if>
      <if test="userid != null">
        userid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="favoriteid != null">
        #{favoriteid,jdbcType=INTEGER},
      </if>
      <if test="goodsid != null">
        #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhangli.shop.pojo.Favorite">
    update favorite
    <set>
      <if test="goodsid != null">
        goodsid = #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
    </set>
    where favoriteid = #{favoriteid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhangli.shop.pojo.Favorite">
    update favorite
    set goodsid = #{goodsid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER}
    where favoriteid = #{favoriteid,jdbcType=INTEGER}
  </update>
</mapper>